.DS_Store
.github
.gitignore
.idea
.jekyll-cache
.jekyll-metadata
.sass-cache
tests
_releaser
_site
CONTRIBUTING.md
Dockerfile
docker-compose.yml
docker-compose.dev.yml
.vscode/

**/node_modules/
**/dist
.git
npm-debug.log
.coverage
.coverage.*
.env
.aws

**/.ruff_cache/
**/node_modules/
**/dist
**/.mypy_cache/
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
