@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown li,
.markdown p {
  margin-bottom: 0.375rem;
}

.markdown code {
  border-radius: 0.25rem;
  background: hsl(var(--b3));
  color: hsl(var(--bc));
  padding: 4px;
  overflow-x: auto;
  overflow-wrap: break-word;
  margin: 0;
  width: auto;
}

markdown. .hljs {
  background: hsl(var(--b3)) !important;
}

.dots-load {
  animation: d5 1s infinite linear alternate;
}

@keyframes d5 {
  0% {
    box-shadow:
      10px 0 #fff,
      -10px 0 #fff2;
    background: #fff;
  }
  33% {
    box-shadow:
      10px 0 #fff,
      -10px 0 #fff2;
    background: #fff2;
  }
  66% {
    box-shadow:
      10px 0 #fff2,
      -10px 0 #fff;
    background: #fff2;
  }
  100% {
    box-shadow:
      10px 0 #fff2,
      -10px 0 #fff;
    background: #fff;
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
  }
}

.fadeOutDown {
  animation-name: fadeOutDown;
}

.animated {
  animation: fadeOutDown 0.3s ease-out forwards;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.firefox-no-scrollbar {
  scrollbar-width: none;
}

.ie-edge-no-scrollbar {
  -ms-overflow-style: none;
}

/* Models Grid Layout */
.models-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  padding-left: 80px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 10px;
}

/* Model Accordion Styles */
.model-accordion {
  border-radius: 8px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: "bg-base-200";
}

.model-accordion button {
  width: 100%;
  padding: 15px;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.model-details {
  padding: 10px;
  border-top: 1px solid #ddd;
}

.model-details p {
  margin: 10px 0;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 10px;
}

.search-row {
  position: fixed;
  top: 5px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 80px;
  padding-right: 40px;
  padding-bottom: 0px;
}
