name: Release Drafter

on:
  push:
    branches:
      - main
  pull_request: # Autolabel PR's
    types: [opened, reopened, synchronize]
  pull_request_target: # Autolabel PR's from forks
    types: [opened, reopened, synchronize]

jobs:
  update_release_draft:
    permissions:
      # write permission is required to create a github release
      contents: write
      # write permission is required for autolabeler
      # otherwise, read permission is required at least
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
